.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: auto;
}
.btn {
  padding: 0.35rem;
  border-radius: 0.35rem;
  margin: 0rem 0.35rem;
}
img {
  margin-top: 2rem;
  margin-bottom: 1rem;
  max-width: 400px;
  max-height: 200px;
}
.about {
  max-width: 400px;
  margin: auto;
  text-align: left;
}
